extends ../layout

block content
 a(href='/bikes') Return

 br
 br
 br

 h1 New Bike

 br
 br

 form(action='/bikes/create' method='post')
  label(for='id') Code:
  input#color(type='text' name='code')
  br
  label(for='color') Color:
  input#color(type='text' name='color')
  br
  label(for='model') Model:
  input#color(type='text' name='model')
  br
  label(for='lat') Latitude:
  input#color(type='text' name='lat')
  br
  label(for='lon') Longitude:
  input#color(type='text' name='lon')
  br
  br
  input.btn(type='submit' value='OK')