extends ../layout

block content 
    a(href='/bikes/create') New Bike


    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Model
                th(scope='col') Location
                th(scope='col') 
                th(scope='col')       
        tbody
            each biki in bikies
                tr
                    th(scope='row')
                      = biki.code
                    td= biki.color
                    td= biki.model
                    td= biki.location
                    td
                        a(href='bikes/' + biki._id + '/update') Edit
                    td  
                        form.inline(method = 'post' action ='bikes/' + biki._id + '/delete')
                            input(type='hidden' name='id' value=biki._id)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn btn-secondary') 
                             ='Delete'                        